# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Django-specific
db.sqlite3
media/
*.pyc

/Hello/frontend app/*.py
